@import "tailwindcss";

body {
    background-color: black;
}

@keyframes sweep {
  from {
    transform: translateX(-60%) rotate(12deg);
  }
  to {
    transform: translateX(60%) rotate(12deg);
  }
}

.animate-sweep {
  animation: sweep 1.2s ease-out forwards;
}

@keyframes sweep {
  from {
    transform: translateX(-60%) rotate(12deg);
  }
  to {
    transform: translateX(60%) rotate(12deg);
  }
}

@keyframes scan {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}